/authentication-service/authApp
/broker-service/brokerApp
/front-end/frontApp
/workspace.code-workspace
/project/db-data/
/.idea/
/logging-service/loggerServiceApp
/mail-service/mailerApp
/listener-service/listenerApp
